/* ცვლადები */
:root {
    --title-color: blue;
    --title-size: 25px;
    --color02: red;

}
/* header styles */
.navigation-wraper {
    display: flex;
    justify-content: space-between;
}
.nav-ul {
    display: flex;
}
.nav-ul li {
    margin-right: 22px;
}
.header-wraper {
    background-color: var(--title-color);
    padding: 15px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}
body {
    padding-top: 61px;
}
.burger-bar {
    color: #fff;
    font-size: 30px;
    display: none;
}

/* section #1 styles */
.container-block {
    max-width: 1177px;
    width: 100%;
    margin: 0 auto;
    background-color: lightslategray;
}
.block-item {
    max-width: 370px;
    width: 100%;
    height: 450px;
    background-color: var(--title-color);
}
.flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-item:nth-child(1),
.block-item:nth-child(2),
.block-item:nth-child(3) {
    margin-bottom: 30px;
}
.text-block {
    max-width: 712px;
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
    text-align: center;
    margin-bottom: 150px;
}
.section-title {
    font-size: var(--title-size);
    margin-bottom: var(--title-size);
}

.images-wraper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left-block {
    max-width: 600px;
    width: 100%;
    background-color: violet;
    height: 203px;
}
.right-block {
    max-width: 801px;
    width: 100%;
}
.right-block img {
    width: 100%;
}

/* order styles */
.flex-wraper {
    display: flex;
    justify-content: space-around;
}
.flex-item {
    width: 100px;
    height: 100px;
    background-color: tomato;
}


/* form styles */
.form-wraper {
    display: flex;
    flex-direction: column;
}
.input-wraper {
    max-width: 700px;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    /* background-color: violet; */
    color: red;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid red;
}
.input-wraper:focus,
.textarea-wraper:focus {
    outline: none;
}

.btn-send {
    width: 200px;
    height: 35px;
    background-color: yellow;
    margin-top: 30px;
    border: none;
    border-radius: 25px;
}
.form-block {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.textarea-wraper {
    height: 200px;
    resize: none;
    color: red;
    font-size: 20px;
}
.input-wraper::placeholder,
.textarea-wraper::placeholder{
    color: blue;
    font-size: 18px;
}


/* img vs bg image */
.bg-image {
    background-image: url('../images/photographer.jpg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* pseudo elements - before & after */
.hello::before {
    content: 'Lesson11';
    color: red;
    background-color: yellow;
}
/* .hello::after {
    content: '\2614';
} */
/* .hello::after {
    content: url('../images/smiley.gif');
} */
.hello::after {
    content: ' ';
    width: 2px;
    height: 27px;
    background-color: blue;
    display: inline-block;
    margin-left: 30px;
}